body{
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 0.9;
}
.text-primary{
	font-size: 14px;
	letter-spacing: -1px;
}
#msgInp{
	resize: none;
	height: 70px;
}
#loader{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 4px dotted black;
	display:none;
	position: absolute;
	left: 50%;
	bottom: 50%;
}
.lightSpeedIn{
	animation-duration: 0.2s;
}
#chatPanel{
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.form-control-sm::placeholder{
		color: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 577px) {
	h3{
		font-size: 20px;
	}
	#chatPanel{
		height: 70vh;
	}
	form label{
		display: none;
	}
	.form-control-sm::placeholder{
		color: rgba(0, 0, 0, 0.6);
	}
	#msgInp{
	height: 50px;
	}
	h5{
		font-size: 14px;
		font-weight: 900;
	}
	.btn-block{
		height: 30px;
		padding: 0;
	}
}
